@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        to bottom right,
        #2980b9 0%,
        #2980b9 70%,
        #236d9d
    );
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 40px;
    margin-bottom: 10px;
}

#description {
    color: #ddd;
    margin-bottom: 15px;
}

.form {
    background-color: rgba(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    color: #333;
    font-size: 18px;
}

.form ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form ul li {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form .input-col {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.form .input-col label {
    width: 100%;
}

.form input {
    width: 50%;
    background-color: #2980b9;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #222;
    font-family: inherit;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
    outline: none;
}

.form input::placeholder {
    color: #fff;
}

.answers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}

.answers label {
    display: flex;
    align-items: center;
}

.form input[type="radio"],
.form input[type="checkbox"] {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form input[type="radio"]:checked,
.form input[type="checkbox"]:checked {
    background-color: #fff;
}

.form select {
    width: 50%;
    padding: 10px 15px;
    font-family: inherit;
    font-size: 16px;
    background-color: #2980b9;
    color: #fff;
    border-radius: 10px;
}

.form .button {
    background-color: #2980b9;
    color: #fff;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form .question {
    margin-top: 10px;
    padding-bottom: 10px;
}

.form textarea {
    background-color: #2980b9;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    border: 0;
}

.form textarea::placeholder {
    color: #fff;
}

.button:focus {
    outline: none;
}

.button:hover {
    background-color: #236d9d;
}

.button:active {
    transform: scale(0.98);
}
